/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 22px/34px "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		font-weight:300;
		letter-spacing:0px;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #22272A;
		font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 900;
		font-style: normal;
		letter-spacing:-1px;
		}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit;  color:#22272A;}
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color: #34495e; font-weight: inherit;}
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 29px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 25px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 23px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 19px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 46px; line-height: 46px; color: #333; font-weight:900; }
	blockquote { font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0 0 20px -150px; padding: 30px 20px 30px 19px; border-left: 5px solid #232322; text-transform:uppercase; }
	blockquote cite { font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;display: block; font-size: 18px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 20px; height: 0; }


/* #Links
================================================== */
	a { color: #22272A; text-decoration: none; outline: 0; font-weight:500;  -webkit-transition:all 200ms ease-in; -o-transition:all 200ms ease-in; }
	a:hover, a:focus { color: #34495e;}
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
    ul, ol { margin-bottom: 20px; }
	ul { list-style: square inside; }
	ol { list-style: decimal inside; margin-left: 30px; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
	.comments-list {margin-left:0px!important; font-size:21px;}

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Forms
================================================== */

	form {
		margin-bottom: 0px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border-color: transparent;
		padding: 9px 9px;
		outline: none;
		font: 12px "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fff;
		width: 210px;
		max-width: 100%; 
		display: block;
		background-color: #32333b;
		margin-right: 0px;
		}
		
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border-color: transparent;
 		color: #ccc;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-size: 14px;
		font-size: 16px;
		font-style: normal;
		font-variant: normal;
		font-weight: 300;
		line-height: 50px;
		color: #333;
		}
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }


