
/*** ESSENTIAL STYLES ***/

.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:		1.0;
	margin: 		0 auto;
}

.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			14em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
	border-radius:		none;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}

.sf-menu a {
    display:inline-block;
    color:#000;
    -webkit-transition:all 200ms ease-in; -o-transition:all 200ms ease-in;
    font-size:16px;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	background-color: 	#2A3034;
	left:			-1em;
	right:			0em;
	top:			3.3em; /* match top ul list item height */
	z-index:		99;
        -webkit-border-bottom-right-radius: 1px;
        -webkit-border-bottom-left-radius: 1px;
        -moz-border-radius-bottomright: 1px;
        -moz-border-radius-bottomleft: 1px;
        border-bottom-right-radius: 1px;
        border-bottom-left-radius: 1px;
        -webkit-box-shadow: 0 1px 1px rgba(6,8,8,0.6);
        box-shadow: 0 1px 1px rgba(6,8,8,0.6);
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			14em; /* match ul width */
	top:			0px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			14em; /* match ul width */
	top:			0px;
}